@media only screen and (max-width: 1200px) {
  .explination {
    display: none; }

  .listing img {
    float: left;
    width: 50%; }
  .listing .listing-text {
    padding: 1.5% 2.5%;
    padding-bottom: 0px;
    float: left;
    width: 50%; }
 }

@media only screen and (max-width: 1024px) {
  .header {
    padding: 10px 2.5%; }

  .heads-up a {
    color: white;
    display: inline; }
  .heads-up .social p {
    display: none; }
  .heads-up .social img {
    padding-top: 10px; }
 }

@media only screen and (max-width: 960px) {
  .third {
    width: 100%; }

  footer .third {
    width: 50%;
    padding-top: 10%;
    padding-bottom: 10%; }

  .contact-bar p {
    text-align: left;
    font-size: 18px;
    padding-left: 3%;
    padding-top: 5px; }
  .contact-bar .social {
    font-size: 12px !important; }
    .contact-bar .social img {
      width: 20px; }
  .contact-bar a {
    float: none;
    display: inline-block; }

  .bottom p {
    font-size: 14px;
    padding-top: 8px;
    width: 100%;
    text-align: center; }

  .cd-section {
    padding: 10%; }

  li.left-item, li.right-item {
    display: none; }

  ul.mob-nav {
    padding-top: 60px;
    background: rgba(255, 255, 255, 0.95);
    width: 100vw;
    height: 100vh;
    /* margin-left: 5%; */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -65px; }

  nav .mob-nav {
    display: none; }
    nav .mob-nav li {
      display: block !important;
      margin-left: 0px;
      padding: 20px; }

  .mobile {
    display: block !important; }

  .desktop {
    display: none !important; }

  li.no-padd {
    position: absolute;
    z-index: 2;
    left: 47%; }

  .title h2 {
    font-size: 30px; }

  .heads-up a {
    color: white;
    display: inline; }
  .heads-up .social p {
    display: none; }
  .heads-up .social img {
    padding-top: 10px; }

  #post-8 a {
    font-size: 17px; }

  #intro #intro-caption {
    padding: 0 15%; }
 }

@media only screen and (max-width: 800px) {
  .half {
    width: 100%; }

  .home .cd-section {
    padding: 5% 10%; }

  .listing img, .listing .listing-text {
    width: 100%;
    text-align: center; }
  .listing .listing-text {
    padding-top: 20px; }

  .single header.header-home.clear.internal {
    background-color: transparent; }

  #intro #intro-caption {
    padding: 0 10%;
    position: relative;
    padding-top: 40px; }
    #intro #intro-caption h1, #intro #intro-caption p {
      color: black; }
  #intro .overlay {
    background-color: rgba(0, 0, 0, 0); }

  #single-posts #intro {
    background-color: white; }
    #single-posts #intro img {
      margin-top: -114px; }
    #single-posts #intro #intro-caption {
      position: relative;
      padding-top: 20px; }
      #single-posts #intro #intro-caption h1 {
        color: black;
        font-size: 32px;
        display: block;
        padding-bottom: 10px;
        margin-top: 0px;
        line-height: 30px; }
      #single-posts #intro #intro-caption h3 {
        color: black; }
      #single-posts #intro #intro-caption span.comma {
        display: none; }
    #single-posts #intro .title-section .button {
      margin-top: 30px; }
  #single-posts #main-slider .half {
    text-align: center; }
  #single-posts #main-slider .half:nth-child(2) {
    padding-top: 40px; }
  #single-posts .apartment-options h5 {
    font-size: 45px; }
  #single-posts .gallery li {
    float: left;
    padding-bottom: 10px; }
  #single-posts .gallery li:nth-child(1) {
    width: 100%; }
  #single-posts .gallery li:nth-child(2) {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%; }
  #single-posts .gallery li:nth-child(3) {
    width: 100%; }

  #about-us h1 {
    padding: 0 5% 50px 5%;
    font-size: 32px; }

  footer .right p, footer .right .button {
    text-align: center;
    float: none; }
  footer img.footer-logo {
    width: 150px; }

  .bottom p {
    width: 100%;
    text-align: center; }
  .bottom a {
    float: none;
    display: inline-block; }
 }

@media only screen and (max-width: 640px) {
  .title {
    width: 90%; }

  footer .third {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center; }
    footer .third a {
      text-align: center; }

  .gallery .examples {
    top: 20px; }
 }
