$gold: #a8ff00;
$gold: #000000;
$font: 'brandon-grotesque' sans-serif;

/* `Body
----------------------------------------------------------------------------------------------------*/

body{
	background: white;
}

.mobile{
	display: none !important;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

header{
	background: black;
	margin: 0 auto;
	z-index: 999;
	transition: all 500ms ease-in;  
	-webkit-transition: all 500ms ease-in;  /* Safari */
	width: 100%;
	padding: 20px 5%;
	position: relative;
	color: white;
}

nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding:0px;
	margin: 0 auto;
	display: inline-block;
	float: right;
	ul{
		text-align: center;
		margin-top: 45px;
		li{
			display: inline-block;
			text-align: center;
			margin-left: 20px;
			font-size: 16px;
			a{
				color: white;
				font-weight: 100;
				font-size: 17px;
			}
		}
	}
}

.top-scroll{
	top:0px !important;
}


.mob-nav{
	display: none;
	ul, li{
		display: block;
	}
}

.shadow{
	box-shadow: 0px 0px 10px 3px #777; 
}

.home-logo{
	width: 150px;
	float: left;
}

img.menu{
	width:30px;
	top: 65px;
	right: 5%;
	position: absolute;
}

#intro, .white{
	background-color: black;
}

#intro{
	background-color: white;
	//min-height: 550px;
	position: relative;
	.overlay{
		background-color: rgba(0,0,0,0.4);
		padding: 2.5%;
	}
	img{
		width: 100%;
	}
	#intro-caption{
		position: absolute;
		bottom: 20px;
		width: 100%;
		padding: 0 20% ;
		margin: 0 auto; 
		text-align: center;
		h1{
			color: white;
		}
	}
}

img.header-image{
	width: 100%;
}

.third{
	padding: 1.5% 5%;
	img{
		padding-bottom: 10px;
	}
}

.contact-bar{
	width: 100%;
	padding-bottom: 15px;

	p{
		text-align: center;
		font-size: 24px;
		color: white;
		font-weight: 400;
	}
	.social{
		float: right;
		padding-right: 5%;
		margin-top: -54px;
		p{
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			padding-right: 10px;
		}
		img{
			width: 30px;
		}
		a{
			display: inline;
		}
	}
}

.bottom{
	position: relative !important;
	p{
		margin-bottom: 0px !important;
		font-size: 13px;
		color: white;
		font-weight: 200;
		padding-top: 5px;
		float: left;
		padding-left: 5%;
	}
	a{
		margin-bottom: 0px !important;
		font-size: 13px;
		color: white;
		font-weight: 200;
		padding-top: 5px;
		float: right;
	}
	
}

.listing{
	border: 1px solid black;
	margin: 10px 0px;
	text-align: left;
	img{
		float: left;
		width: 37%;
	}
	.listing-text{
		padding: 1.5% 2.5%;
		padding-bottom: 0px;
		float: left;
		width: 63%;
	}
	h2{
		font-size: 28px;
		line-height: 24px;
		font-weight: 600;
		text-transform: uppercase;
	}
	h3{
		font-size: 19px;
		padding: 2.5px 0;
	}
	.price{
		font-weight: 600;
	}
	
}


#single-posts{
	h1{
		display: inline-block;
	}
	#intro-caption{
		bottom:-23.5px;
	}
	.title-section{
		.price{
			color: white;
			}
		.button{
			margin-bottom: 0px;
			margin-top: 60px;
		}
	}
	.line{
		width: 250px;
		padding-top: 75px; 
		padding-bottom: 75px;
		left:50%;
		position:relative;
		margin-left: -125px;
	}
	h2{
		font-weight: 600;
		padding-bottom: 40px;
	}
	.apartment-options{
		text-align: left;
		padding: 2.5% 10%;
		
		.half{
			padding-right: 2%;
		}

		h2{
			font-weight: 600;
			padding-bottom: 60px;
			text-align: center;
		}
		h3{
			font-weight: bold;
			line-height: 24px;
			margin-top: 0px;
		}
		h4{
			color: black;
			line-height: 36px; 
			font-size: 20px;
			padding-top: 10px;
			text-transform: none;
		}
		.detail{
			float: left;
			width: 33%;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		h5{
			font-size: 50px;
			font-weight: 800;
			line-height: 40px;
		}
		
	}
	.gallery{
		li{
			float: left;	
		}
		li:nth-child(1){
			width: 25%;
		}
		li:nth-child(2){
			width: 50%;
			padding-left: 0.5%;
			padding-right: 0.5%;
		}
		li:nth-child(3){
			width: 25%;
		}	
	}
	.maps{
		padding: 2.5% 10%;
	}
	
}

#about-us{
	.half{
		padding-top: 100px;
		text-align: left;
		padding-right: 5%;
		padding-left: 5%;
	}
	h1{
		text-transform: uppercase;
		padding: 0px 15% 50px 15%; 
	}
	h2{
		padding-bottom: 30px;
	}
	h3{
		font-weight: 600;
		padding-bottom: 10px;
	}
}

/* `Divs
----------------------------------------------------------------------------------------------------*/	

.cd-section{
	position: relative;
	padding:5% 10%;
	width: 100%;
	text-align: center;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/	

footer{
	background-color: white;
	text-align: left;
	position: relative;
	width: 100%;
	p, a{
		padding-bottom: 0px;
		font-size: 18px;
		color: white;
		text-align: left;
		text-transform: none;
		font-weight: 100; 
		margin-bottom: 5px !important;
	}
	.right{
		padding-top: 20px;
		p{
			text-align: right;
		}
		.button{
			background-color: white;
			color: black;
			float: right;
			margin-top: 10px;
		}
	}
}

footer.cd-section, section.contact-bar.bottom.cd-section{
	padding: 0% 5%;
	overflow: auto;
	padding-bottom: 5px;
}

img.footer-logo{
	width: 250px;
	padding-top: 10px;
}


a.blink:hover{
	color: aqua;
}


/* `Button
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: $gold;
	border: 1px solid $gold;
	font-family: $font;
	color: white;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 30px;
}

.button:hover,
.button:focus,
.button:active{
	color: $gold;
	background-color: white;
	border-bottom-color: 0;
}

.button-rev{
	color: $gold;
	background-color: transparent;
	border: 1px solid $gold;
	font-family: $font;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 20px;
}

.button-rev:hover,
.button-rev:focus,
.button-rev:active{
	
	background-color: $gold;

	color: white;
	
}

.flexslider .slides > li{
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
}

.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}


.flex-direction-nav a{
	top:30% !important;
}


/* `Contact Form ----------------------------------------------------------------------------------------------------*/

form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:100%;

}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: white;
	font-family: inherit;
	border: 2px solid $gold;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: black;
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	font-family: 'brandon-grotesque' sans-serif;
	font-weight: 200;
	border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	background-color: white;
	border: 2px solid $gold;
	
}

input[type="submit"]{
	background-color: $gold;
	color: white;
	padding:10px;
	font-family: 'brandon-grotesque' sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
	width: 100%;
	border: 0.5px solid black;
	border-radius: 0px;
	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #222;
	color: white;
	cursor: pointer;
}

div.wpcf7-validation-errors{
	width:100%;
	color: #f7e700;
	font-family: 'brandon-grotesque' sans-serif;
}

div.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	width:100%;
	color: #398f14;
	font-family: 'brandon-grotesque' sans-serif;
	text-transform: uppercase;
}

div.wpcf7-response-output{
	padding: 1em 1em !important;
}




/* Google Translate 
----------------------------------------------------------------------------------------------------*/

#google_language_translator{
 	clear:none !important;	
 	float: right;
 	position: absolute;
 	top:12px;
 	right:5%;
 	text-align: right !important;
	select{
		border: 1px solid #999 !important;
		padding: 5px 10px !important;
	} 	
}

#google_language_translator:after{
 	clear:both;	
 	float: right;
}

select.goog-te-combo{
	background:#000 !important;
	color: #ccc;
	font-family: 'brandon-grotesque' sans-serif;
	padding: 5px 10px !important;
	text-align: right !important;
}

#flags{
	display: none;
}