@media only screen and (max-width: 1200px) {
	
	.explination{
		display: none;
	}
	
	.listing{
	img{
		float: left;
		width: 50%;
	}
	.listing-text{
		padding: 1.5% 2.5%;
		padding-bottom: 0px;
		float: left;
		width: 50%;
	}
	
}


}

@media only screen and (max-width: 1024px) {
	
	.header{
		padding: 10px 2.5%;
	}	
	
	.heads-up{
		a{
			color:white;
			display: inline;
		}
		.social{
			p{
			display: none;
			}
			img{
				padding-top: 10px;
			}
		}
		
	}
}



@media only screen and (max-width: 960px) {
	
	.third{
		width: 100%;
	}
	
	footer .third{
		width: 50%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
	.contact-bar{
		p{
			text-align: left;
			font-size: 18px;
			padding-left: 3%;
			padding-top: 5px;
		}
		.social{
			font-size: 12px !important; 
			img{
				width: 20px;
			}
		}
		a{
			float: none;
			display: inline-block;
		}
	}
	
	.bottom{
		p{
			font-size: 14px;
			padding-top: 8px;
			width:100%;
			text-align: center;
		}
	}
	
	.cd-section{
		padding: 10%;
	}
	
	li.left-item, li.right-item{
		display: none;
	}
	
	ul.mob-nav{
		padding-top: 60px;
		background: rgba(255, 255, 255, 0.95);
		width: 100vw;
		height: 100vh;
		/* margin-left: 5%; */
		position: fixed;

		left: 0;
		right: 0;
		bottom: 0; 
		margin-top: -65px;
	}
	nav	
	.mob-nav{
		display: none;
		li{
			display: block !important;
			margin-left: 0px;
			padding: 20px;
		}
	}
	
	.mobile{
		display: block !important;
	}
	.desktop{
		display: none !important;
	}
	
	li.no-padd{
		position: absolute;
		z-index: 2;
		left: 47%;
	}
	
	
	.title h2{
		font-size:30px;
	}
	.heads-up{
		a{
			color:white;
			display: inline;
		}
		.social{
			p{
			display: none;
			}
			img{
				padding-top: 10px;
			}
		}	
	}
	
	#post-8{
		a{
			font-size: 17px;
		}
	}
	#intro {
		#intro-caption{
			padding: 0 15%;
		}
	}
}

@media only screen and (max-width: 800px) {
	
	.half{
			width: 100%;
	}
	
	.home{
		.cd-section{
			padding: 5% 10%;
			}	
	}
	
	.listing {
		img,.listing-text{
			width: 100%;
			text-align: center;
		}
		.listing-text{
			padding-top: 20px;
		}
		
	}
	
	.single{
	header.header-home.clear.internal{
		background-color: transparent;
	}
	}
	
	#intro {
		#intro-caption{
			padding: 0 10%;
			position: relative;
			padding-top: 40px;
			h1, p{
				color: black;
			}
		}
		.overlay{
			background-color: rgba(0, 0, 0, 0);
		}
	}
	
	#single-posts{
		#intro{
			background-color: white;
			img{
				margin-top: -114px;
			}
			#intro-caption{
				position: relative;
				padding-top: 20px;
				h1{
					color: black;
					font-size: 32px;
					display: block;
					padding-bottom: 10px;
					margin-top: 0px;
					line-height:30px;
				}
				h3{
					color: black;
				}
				span.comma{
					display: none;
				}
			}
			.title-section .button{
				margin-top: 30px;
			}
		}

		#main-slider{
			.half{
				text-align: center;
			}
			
			.half:nth-child(2){
				padding-top: 40px;
			}
		}
		
		.apartment-options h5{
			font-size: 45px;
		}
	
		.gallery{
			li{
				float: left;
				padding-bottom: 10px;	
			}
			li:nth-child(1){
				width: 100%;
			}
			li:nth-child(2){
				width: 100%;
				padding-left: 0%;
				padding-right: 0%;
			}
			li:nth-child(3){
				width: 100%;
			}	
		}
	}
	
	#about-us h1{
		padding: 0 5% 50px 5%;
		font-size: 32px;
	}
	
	footer {
		.right{ 
			p, .button{
				text-align: center;
				float: none;
			}
		}
		img.footer-logo{
			width: 150px;
		}
	}
	
	.bottom {
		p{
		width: 100%;
		text-align: center;
		}
		a{
			float: none; 
			display: inline-block;
		}
	}
	
}

@media only screen and (max-width: 640px) {
	
	.title{
		width: 90%;
	}	
	
	footer{
		.third{
			width: 100%;
			padding-top: 2.5%;
			padding-bottom: 2.5%; 
			text-align: center;
			a{
				text-align: center;
			}
		}
	}
	
	.gallery .examples{
		top:20px;
	}
	
	
	
}

